* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
  line-height: 1.5;
}

.header{
    color: white;
    background: #212529;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.header, .t1 {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    border-collapse: collapse;
    text-align: right;
}
.t2:hover:hover {
    background-color: #198753;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.t3:hover:hover {
    background-color: #198753;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.t4:hover:hover {
    background-color: #198753;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.t5:hover:hover {
    background-color: #198753;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.t6:hover:hover {
    background-color: #198753;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.hero {
  display: flex;
  background: #f4f4f4;
  padding: 20px;
}

.slider {
  flex: 2;
  position: relative;
  align-items: center;  
}

.slider img {
  width: 100%;
  display: flex;
  border-radius: 10px;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 300px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.account-form {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.account-form form {
  display: flex;
  flex-direction: column;
}

.account-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.account-form button {
  background: #28a745;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-form button:hover {
  background: #218838;
}

.why-choose {
  text-align: center;
  padding: 50px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 20px;
  max-width: 300px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}


.membership {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  background: #f4f4f4;
}

.membership-text {
  flex: 1;
}

.membership-text h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  margin-top: 15px;
  display: inline-block;
  background: #ffc007;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.membership-img {
  flex: 1;
  padding-left: 20px;
}

.membership-img img {
  width: 100%;
  border-radius: 10px;
}


footer {
  background: white;
  color: #000000;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-links .column {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #676565;
  text-decoration: none;
  margin: 5px 0;
}

.footer-links a:hover {
  color: #000000;
}

.placeholder {
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}