
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin: 0;
}


.con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}


.item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000000;
    font-size: 16px;
}


.item i {
    color: #000000;
    font-size: 20px;
}

.item:hover {
  background-color: #004588;
  color: white;
  border-radius: 10px;
  padding: 10px;
    cursor: pointer;
}


