body{
    background-color: aquamarine;
}

.box{
     width: 100px;
     height: 100px;
     background-color: rgb(161, 0, 0);
}

.box1{
     background-color: rgb(255, 255, 255);
} 

.box2{
     background-color: rgb(255, 255, 255);
     border-bottom: 15px solid black;
     border-top: 10px solid black;
} 

.box4{
     background-color: rgb(14, 89, 175);
     border-right: 15px solid black;
}

.box5{
     background-color: rgb(255, 255, 255);
     width: 190px;
     border-right: 15px solid black;
} 

.box6{
     background-color: rgb(255, 255, 255);
     width: 45px;
     height: 37px;
     border-bottom: 26px solid black;
} 

.box7{
     background-color: rgb(248, 238, 103);
     width: 45px;
     height: 37px;
} 

.bigbox{
     background-color: rgb(255, 0, 0);
      width: 250px;
      height: 200px;
      border-left: 15px solid black;
      border-bottom: 25px solid black;
} 

div{
    text-align: center;
    font-weight: bold;
}

.container{
    display: flex;
    
}

.container2{
    display: flex;
    
}





