
.card{
    border : 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 0px #0051ff88;
}

.card:hover{
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    box-shadow: skyblue;
}

h2{
    margin: 0px;
}

p{
   padding: 10px;
}

.card-header{
    display: flex;
}


.card-header{
    border-bottom:1px solid black;
    padding-bottom :10px;
    margin-bottom: 10px;
    display: flex;
}
.btn{
    border:none;
  background: #103147;
background: linear-gradient(90deg,rgba(16, 49, 71, 1) 13%, rgba(152, 158, 153, 1) 50%, rgba(158, 158, 255, 1) 100%);
    color:white;
    padding: 10px 20px;
    border-radius: 100px;
}
.btn:hover{
    background-color: rgb(108, 108, 207);
    cursor: pointer;
}
.main {
    display: flex;
    gap: 20px;
}

